---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">Sobre</a>
        <h1>Site da Rora!</h1>
        <h2>Sobre mim...</h2>
        <h2>... e meu site Astro!</h2>

        <p>
            Espero que tudo funcione, depois do Netlify ter banido minha conta
            de graça??
        </p>
        <p>Obrigada Cloudflare Pages :3</p>
    </body>
</html>
