---
import BaseLayout from "../layouts/BaseLayout.astro";

const todosPosts = await Astro.glob("./posts/*.md");
const tituloPagina = "Blogzinho";
---

<BaseLayout tituloPagina={tituloPagina}>
    <h2>Com um blog acompanhando minha jornada :3</h2>
    <ul>
        {
            todosPosts.map((post) => (
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
